.manaCost {
    @apply inline-flex items-center justify-center gap-1;
}

.mana {
    @apply inline-flex items-center justify-center;

    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    padding-top: 2px;
}

.mana-colorless {
    @apply bg-gray-500;
    color: black;
}

.mana-white {
    @apply bg-white;
    @apply text-gray-300;
}
.mana-red {
    @apply bg-red-900 text-red-300;
}
.mana-blue {
    @apply bg-blue-700 text-blue-300;
}
.mana-black {
    background: #111;
    @apply text-gray-300;
}
.mana-green {
    @apply bg-green-800 text-green-300;
}
