@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  Head {
    grid-column: 1 / span 2;
  }

  h1 {
    @apply text-3xl font-bold text-gray-100;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.aiTextbox {
    @apply bg-gray-900 text-white p-4 rounded-lg whitespace-pre;
}


.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: white;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.main .icon {
  width: 34px;
}
.main h3 {
  @apply text-2xl font-bold text-gray-100;
}
.main form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 480px;
  gap: 8px;

  align-items: center;
  justify-content: center;

  input[type="text"], select {
    @apply bg-gray-900 text-white p-4 rounded-lg whitespace-pre;
  }

  input[type="submit"], input[type="button"] {
    @apply bg-green-700 text-white p-4 rounded-lg whitespace-pre font-bold text-2xl;
    cursor: pointer;
    grid-column: 1 / span 2;

    &:hover {
        @apply bg-green-500;
    }
  }
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main .result {
  font-weight: bold;
  margin-top: 40px;
}



.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
